.home{
    background-color: #fff;
    min-width: 500px;
}

.header{
    background-color: var(--primary-dark);
    color: #fff;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px;
}

.card{
    border-radius: 10px;
    box-shadow: 0 0 7px 0 var(--secondary-dark);
    outline: none;
    min-width: 370px;
    background-color: #fff;
    position: relative;
    padding-top: 2px;
    margin-top: 2px;
}

.btn{
    outline: none;
    border: none;
    background-color: var(--primary-dark);
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: transform 200ms ease-in 1ms;
    margin:10px;
}

.btn:hover{
    background-color: var(--primary);
    transform: scale(1.05);
}